

body {
  text-align: center;
  background-color: aliceblue;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/* custom form */
.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  gap: 0.5rem;
  
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding:10px;
  margin-bottom: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  border: none;
  height: 100%;
  max-width: fit-content;
  border-radius: 3px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.plus-icon {
  color: white;
  height: 24px;
  width: 24px;
}
.input {
  height: fit-content;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
  padding: 0.4rem 1rem;
}

input::placeholder{
  font-size: 0.7rem;
  color: rgb(162, 162, 162);
}
.label{
  pointer-events: none;
}

/* tasklist */

.task-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

/* task item */



.task-item {

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  margin-bottom: 0.6rem;
  padding:0.6rem;
  font-size: 0.8rem;

  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
 
}

.task-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* .task-item-label{
  position: relative;
  cursor: pointer;
  text-align: left;
  line-height: 1.4;
} */

.checkbox:checked+label {
  text-decoration: line-through;
}