

body {
  text-align: center;
  background-color: aliceblue;
  font-family: sans-serif;
}

/* custom form */
.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  gap: 0.5rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  border: none;
  height: 100%;
  max-width: fit-content;
  border-radius: 3px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.plus-icon {
  color: white;
  height: 24px;
  width: 24px;
}
.input {
  height: fit-content;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
  padding: 0.4rem 1rem;
}

input::placeholder{
  font-size: 0.7rem;
  color: rgb(162, 162, 162);
}
.label{
  pointer-events: none;
}

/* tasklist */

.task-list{
  display:grid;
  list-style-type: none;
  gap:1rem;
}

/* task item */

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
  padding:0.6rem;
  font-size: 0.8rem;
  border-radius: 10px;
}

.task-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.task-item-label{
  position: relative;
  cursor: pointer;
  text-align: left;
  line-height: 1.4;
}